html,body, p, h1, h2 { 
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --lightblue: #3882F6;
    --darkblue: #1f2937;
    --white: #F9FAF8;
    --grey: #E5E7EB;
  }

.main-section {
    background-color: var(--darkblue);
}

/* .section {
    padding-bottom: 100px;
    padding-top: 100px;
} */


.footer {
    background-color: var(--darkblue);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-section {
    /* padding-top: 50px; */
}

.quote-section {
    background: var(--grey);
    padding-top: 120px;
    padding-bottom: 120px;
}

.f-white {
    color: var(--white);
}

.f-grey {
    color: var(--grey);
}

.f-dark {
    color: var(--darkblue
    );
}

.link {
    text-decoration: none;
}

.f-sm {
    font-size: 18px;
}

.f-m {
    font-size: 22px;
}

.f-bold {
    font-weight: 700;
}

.pb-m {
    padding-bottom: 30px;
}

.p-s {
    padding: 10px 0px;
}

.margin-no {
    margin: -10px;
}

.italic {
    font-style: italic;
}

h1 {
    font-size: 48px;
    font-weight: 600;
}

h2 {
    font-size: 38px;
    font-weight: 600;
}


/* ------ */


.flex {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.wrapper {
    max-width: 960px;
    margin: auto;
}

.wrapper-tight {
    max-width: 800px;
    margin: auto;
}

.nav {
    padding-top: 10px;
}

.menu-nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-nav > li {
    padding: 20px;

}

.signup {
    background-color: var(--lightblue);
    font-weight: 700;
}

.hero {
    margin-top: 80px;
    padding-bottom: 80px;
}

.hero-text {
    flex-basis: 450px;
}

.btn-blue {
    padding: 10px 40px;
    border-radius: 5px;
}

.btn-white {
    padding: 10px 40px;
    border-radius: 5px;
    border-color: var(--white);
    border-width: 3px;
    border-style: solid;
}

.box {
    border: var(--lightblue);
    border-radius: 20px;
    border-width: 4px;
    /* padding: 20px; */
    border-style: solid;
}

.family {
    padding-top: 50px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photos {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
}

.photo {
    text-align: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: var(--darkblue);
    /* margin-bottom: -30px; */
}

.section-title {
    font-size: 36px;
    font-weight: 800;
    color: var(--darkblue);
    padding-bottom: 50px;
}

.quote-signature {
    display: flex;
    justify-content: end;
    font-weight: 800;
    color: var(--darkblue);
    font-size: 26px;
}

.banner {
    background-color: var(--lightblue);
    border-radius: 10px;
    margin-top: 120px;
    margin-bottom: 120px;
}

.banner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;

}

.sub-text {
    margin-top: 0px;
}
